ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    color: #FF6C60 !important;
}

/*分割线*/
.hr-line-dashed {
    border-top: 1px dashed #e7eaec;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 20px 0;
}

.hr-line-solid {
    border-bottom: 1px solid #e7eaec;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid !important;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*label left*/
.form-horizontal .control-label-right {
    font-weight: 300;
    font-size: 14px;
    text-align: right;
    padding-top: 7px;
}

/*input color*/
.form-control {
    border: 1px solid #e2e2e4;
    box-shadow: none;
    color: black !important;
}

.help-inline {
    font-family: SimSun;
    font-size: 12px;
    color: #ed5565;
    font-weight: lighter;
}

.has-error .form-control {
    border-color: #ed5565 !important;
}

.has-error .control-label-right {
    color: #ed5565 !important;
}

.has-error .control-label {
    color: #ed5565 !important;
}

.follower-foot {
    background-color: #f1f2f7;
}

/*分页*/
.pagination-pre {
    margin: 0px !important;
    margin-bottom: 14px !important;
}

.pagination-end {
    margin: 0px !important;
    margin-top: -5px !important;
}


/*表格元素居中*/
tbody > tr > td {
    vertical-align: middle !important;
}






























